@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

/* variables */

$fontSizeBig: 3rem;
$fontSizeMid: 2rem;
$fontSizeSmall: 1.5rem;


/* reset / estilos genericos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a { text-decoration: none;}

body {
    background-color: lightgray;

/* estilos de la barra de navegación */

.navbar {
    position: sticky;
    top: 0;
}

    div.yo {
        background-color: transparent;
        flex-direction: row;
        display:inline-flex;
        gap: 8px;

        .icono-yo {
            background-image: url(../media/ale-computacion.jpg);
            background-position: center;
            background-size: 100%;
            border-radius: 100%;
            border: 5px solid #2c2f3f;
            height: 70px;
            width: 70px;
        }
        .saludo {
            font-family:cursive;
            color: red;
            font-size: $fontSizeMid;
            font-weight: 400;
            padding-top: 16px;
        }
    }
    .nav-item a:hover{
        background-color: #B8B799;
        border-color: #B8B799;
    }
    
          


   



/* estilos del banner */

.banner{
    align-items: center;
    background-image: url(../media/imagenbanner4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    width: 100%;

    .banner-contenido {
        align-items: center;
        display: flex;
      
        width: 100%;

        .imagen-grande {
            background-image: url(../media/foto-ale.jpg);
            background-size: cover;
            border-radius: 50%;
            border: 5px solid #d3d3d3;
            height: 250px;
            width: 250px;
            margin-left: 20px;
        }

        .contenedor-nombre-descr {
       
        .nombre-grande {
            color: black;
            font-family: sans-serif;
            font-size: $fontSizeBig;
            font-weight: 500;
            margin-left: 6rem;
        }
        .profesion {
            color:red;
            font-family: sans-serif;
            font-size: $fontSizeMid;
            font-weight: 500;
            margin-left: 7rem;
        }
    }
    }

}





/* Estilos del Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    text-align: center;
    margin-top: 40px;

    .autor {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 10px;

        p {
            font-size: 1.2rem;
        }

        .hecho-por {
            font-weight: 400;
            color: black;
        }

        .nombre-chico {
            font-weight: 400;
            color: black;
          }
      }

    .iconos-footer {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;

        .circulo-icono-footer {
            align-items: center;
            background-color: white;
            border-radius: 50%;
            display: flex;
            height: 30px;
            justify-content: center;
            width: 30px;

            .circulo-icono-footer i {
                font-size: $fontSizeSmall;
            }
              
            &:hover {
                background-color: #587885;
                transition: none;
            }
        }
    }
}

/* Estilos para el titulo de todas las pag */
.titulo-skills, .titulo-desarrprofesional, .titulo-contacto, .titulo-sobre-mi{
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;

    .titulo-skills h1, .titulo-contacto h1, .titulo-sobre-mi h1, .titulo-desarrprofesional h1 {
        font-size: $fontSizeMid;
    }
}

/* Estilos sobre-mí */


/* Estilos para el main */
.sobre-mi{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 40px;

    .mi-descripcion, .mi-cv, .mis-datos {
        background-color: #eee;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
    .mi-descripcion {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    
    .mi-cv {
        grid-column: 2;
        grid-row: 2;
        margin-top: 1.5rem;

        a p {
            font-size: $fontSizeSmall;
        }
        a p, a i {
            color: blue;
        }
    }
    .mis-datos {
        grid-column: 3;
        grid-row: 1 / span 3;

        .dato-personal {
            align-items: center;
            display: flex;
            gap: 0.5rem;
            list-style: none;
            margin-top: 1rem;
            flex-wrap: wrap;
            justify-content: left;
            text-align: center;

            .fa-angle-right{
                color: grey;
                font-size: $fontSizeSmall;
            }
            .titulo {
                font-weight:500;
            }
            .info {
                font-weight: 300;
            }
            .titulo, .info {
                font-size: 15px;
            }
        }
    }
}


/* Estilos skills */
/* Estilos para el main */
.skills {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	padding: 40px;

    .section-skills {
        background-color: #eee;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

        h2 {
            font-size: $fontSizeSmall;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

#hardsoftskills h3{
    font-size: $fontSizeMid;
    padding: 20px;
  }

/* Estilos para las progress bar */
.progress {
    overflow: hidden;
    height: 30px;
    background-color: #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      margin-bottom: 30px;

      .progress-bar {
        width: 0;
        height: 100%;
        color: #fff;
        text-align: center;
        background-color: #333;  
        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: 40px 40px;
      }     
  }
  .progress-striped{
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
  }
   .progress.active .progress-bar {
-webkit-animation: progress-bar-stripes 2s linear infinite;
animation: progress-bar-stripes 2s linear infinite;
-moz-animation: progress-bar-stripes 2s linear infinite;
  }


/* Estilos Desarrollo Profesional */

  
#experiencia h3, #educacion h3 {
    font-size: $fontSizeMid;
    padding: 20px;
  }
  
.row {
    margin: 8px -16px; 
    background-color:  #eee;
    border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0.1, 0.1);
  }
  


/* Estilos de Contacto */

.contacto{
    background-color: transparent;
    display: flex;
    padding: 10px;
    gap: 30px;
    justify-content: center;


.informacion-de-contacto {
    background: #eee;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0.1, 0.1);
    display: block;
    flex-direction: row;
    width: 50vw;


    .ubicacion, .email, .telefono {
        align-items:flex-start;
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        padding-left: 2rem;
    }

    .ubicacion {
        padding-top: 2rem;
    }

    .ubicacion .fondo-icono-contacto, .email .fondo-icono-contacto, .telefono .fondo-icono-contacto {
        align-items: center;
        background-color: rgba(20, 157, 221, 0.2);
        border-radius: 50%;
        display: flex;
        height: 44px;
        justify-content: center;
        min-width: 44px;
        width: 44px;
    }
    .subt-contacto {
        color: black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: $fontSizeSmall;
    }

    .mapa {
        align-self: center;
        height: 180px;
        margin-top: 20px;
        width: 100%;
    }
}
}
}
@import "queries"
  
